.jackbox-talks .Slideshow .photo-72163-thumb,
.jackbox-talks .Draw.photo-72163-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72163-thumb,
.jackbox-talks .photo.photo-72163-thumb .choice-button {
    background-image: url(slides/72163.jpg)
}

.jackbox-talks .Slideshow .photo-72164-thumb,
.jackbox-talks .Draw.photo-72164-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72164-thumb,
.jackbox-talks .photo.photo-72164-thumb .choice-button {
    background-image: url(slides/72164.jpg)
}

.jackbox-talks .Slideshow .photo-72165-thumb,
.jackbox-talks .Draw.photo-72165-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72165-thumb,
.jackbox-talks .photo.photo-72165-thumb .choice-button {
    background-image: url(slides/72165.jpg)
}

.jackbox-talks .Slideshow .photo-72166-thumb,
.jackbox-talks .Draw.photo-72166-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72166-thumb,
.jackbox-talks .photo.photo-72166-thumb .choice-button {
    background-image: url(slides/72166.jpg)
}

.jackbox-talks .Slideshow .photo-72167-thumb,
.jackbox-talks .Draw.photo-72167-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72167-thumb,
.jackbox-talks .photo.photo-72167-thumb .choice-button {
    background-image: url(slides/72167.jpg)
}

.jackbox-talks .Slideshow .photo-72168-thumb,
.jackbox-talks .Draw.photo-72168-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72168-thumb,
.jackbox-talks .photo.photo-72168-thumb .choice-button {
    background-image: url(slides/72168.jpg)
}

.jackbox-talks .Slideshow .photo-72169-thumb,
.jackbox-talks .Draw.photo-72169-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72169-thumb,
.jackbox-talks .photo.photo-72169-thumb .choice-button {
    background-image: url(slides/72169.jpg)
}

.jackbox-talks .Slideshow .photo-72170-thumb,
.jackbox-talks .Draw.photo-72170-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72170-thumb,
.jackbox-talks .photo.photo-72170-thumb .choice-button {
    background-image: url(slides/72170.jpg)
}

.jackbox-talks .Slideshow .photo-72171-thumb,
.jackbox-talks .Draw.photo-72171-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72171-thumb,
.jackbox-talks .photo.photo-72171-thumb .choice-button {
    background-image: url(slides/72171.jpg)
}

.jackbox-talks .Slideshow .photo-72172-thumb,
.jackbox-talks .Draw.photo-72172-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72172-thumb,
.jackbox-talks .photo.photo-72172-thumb .choice-button {
    background-image: url(slides/72172.jpg)
}

.jackbox-talks .Slideshow .photo-72173-thumb,
.jackbox-talks .Draw.photo-72173-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72173-thumb,
.jackbox-talks .photo.photo-72173-thumb .choice-button {
    background-image: url(slides/72173.jpg)
}

.jackbox-talks .Slideshow .photo-72174-thumb,
.jackbox-talks .Draw.photo-72174-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72174-thumb,
.jackbox-talks .photo.photo-72174-thumb .choice-button {
    background-image: url(slides/72174.jpg)
}

.jackbox-talks .Slideshow .photo-72175-thumb,
.jackbox-talks .Draw.photo-72175-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72175-thumb,
.jackbox-talks .photo.photo-72175-thumb .choice-button {
    background-image: url(slides/72175.jpg)
}

.jackbox-talks .Slideshow .photo-72176-thumb,
.jackbox-talks .Draw.photo-72176-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72176-thumb,
.jackbox-talks .photo.photo-72176-thumb .choice-button {
    background-image: url(slides/72176.jpg)
}

.jackbox-talks .Slideshow .photo-72177-thumb,
.jackbox-talks .Draw.photo-72177-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72177-thumb,
.jackbox-talks .photo.photo-72177-thumb .choice-button {
    background-image: url(slides/72177.jpg)
}

.jackbox-talks .Slideshow .photo-72178-thumb,
.jackbox-talks .Draw.photo-72178-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72178-thumb,
.jackbox-talks .photo.photo-72178-thumb .choice-button {
    background-image: url(slides/72178.jpg)
}

.jackbox-talks .Slideshow .photo-72179-thumb,
.jackbox-talks .Draw.photo-72179-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72179-thumb,
.jackbox-talks .photo.photo-72179-thumb .choice-button {
    background-image: url(slides/72179.jpg)
}

.jackbox-talks .Slideshow .photo-72180-thumb,
.jackbox-talks .Draw.photo-72180-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72180-thumb,
.jackbox-talks .photo.photo-72180-thumb .choice-button {
    background-image: url(slides/72180.jpg)
}

.jackbox-talks .Slideshow .photo-72181-thumb,
.jackbox-talks .Draw.photo-72181-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72181-thumb,
.jackbox-talks .photo.photo-72181-thumb .choice-button {
    background-image: url(slides/72181.jpg)
}

.jackbox-talks .Slideshow .photo-72182-thumb,
.jackbox-talks .Draw.photo-72182-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72182-thumb,
.jackbox-talks .photo.photo-72182-thumb .choice-button {
    background-image: url(slides/72182.jpg)
}

.jackbox-talks .Slideshow .photo-72183-thumb,
.jackbox-talks .Draw.photo-72183-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72183-thumb,
.jackbox-talks .photo.photo-72183-thumb .choice-button {
    background-image: url(slides/72183.jpg)
}

.jackbox-talks .Slideshow .photo-72184-thumb,
.jackbox-talks .Draw.photo-72184-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72184-thumb,
.jackbox-talks .photo.photo-72184-thumb .choice-button {
    background-image: url(slides/72184.jpg)
}

.jackbox-talks .Slideshow .photo-72185-thumb,
.jackbox-talks .Draw.photo-72185-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72185-thumb,
.jackbox-talks .photo.photo-72185-thumb .choice-button {
    background-image: url(slides/72185.jpg)
}

.jackbox-talks .Slideshow .photo-72186-thumb,
.jackbox-talks .Draw.photo-72186-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72186-thumb,
.jackbox-talks .photo.photo-72186-thumb .choice-button {
    background-image: url(slides/72186.jpg)
}

.jackbox-talks .Slideshow .photo-72187-thumb,
.jackbox-talks .Draw.photo-72187-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72187-thumb,
.jackbox-talks .photo.photo-72187-thumb .choice-button {
    background-image: url(slides/72187.jpg)
}

.jackbox-talks .Slideshow .photo-72188-thumb,
.jackbox-talks .Draw.photo-72188-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72188-thumb,
.jackbox-talks .photo.photo-72188-thumb .choice-button {
    background-image: url(slides/72188.jpg)
}

.jackbox-talks .Slideshow .photo-72189-thumb,
.jackbox-talks .Draw.photo-72189-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72189-thumb,
.jackbox-talks .photo.photo-72189-thumb .choice-button {
    background-image: url(slides/72189.jpg)
}

.jackbox-talks .Slideshow .photo-72190-thumb,
.jackbox-talks .Draw.photo-72190-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72190-thumb,
.jackbox-talks .photo.photo-72190-thumb .choice-button {
    background-image: url(slides/72190.jpg)
}

.jackbox-talks .Slideshow .photo-72191-thumb,
.jackbox-talks .Draw.photo-72191-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72191-thumb,
.jackbox-talks .photo.photo-72191-thumb .choice-button {
    background-image: url(slides/72191.jpg)
}

.jackbox-talks .Slideshow .photo-72192-thumb,
.jackbox-talks .Draw.photo-72192-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72192-thumb,
.jackbox-talks .photo.photo-72192-thumb .choice-button {
    background-image: url(slides/72192.jpg)
}

.jackbox-talks .Slideshow .photo-72193-thumb,
.jackbox-talks .Draw.photo-72193-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72193-thumb,
.jackbox-talks .photo.photo-72193-thumb .choice-button {
    background-image: url(slides/72193.jpg)
}

.jackbox-talks .Slideshow .photo-72194-thumb,
.jackbox-talks .Draw.photo-72194-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72194-thumb,
.jackbox-talks .photo.photo-72194-thumb .choice-button {
    background-image: url(slides/72194.jpg)
}

.jackbox-talks .Slideshow .photo-72195-thumb,
.jackbox-talks .Draw.photo-72195-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72195-thumb,
.jackbox-talks .photo.photo-72195-thumb .choice-button {
    background-image: url(slides/72195.jpg)
}

.jackbox-talks .Slideshow .photo-72196-thumb,
.jackbox-talks .Draw.photo-72196-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72196-thumb,
.jackbox-talks .photo.photo-72196-thumb .choice-button {
    background-image: url(slides/72196.jpg)
}

.jackbox-talks .Slideshow .photo-72197-thumb,
.jackbox-talks .Draw.photo-72197-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72197-thumb,
.jackbox-talks .photo.photo-72197-thumb .choice-button {
    background-image: url(slides/72197.jpg)
}

.jackbox-talks .Slideshow .photo-72198-thumb,
.jackbox-talks .Draw.photo-72198-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72198-thumb,
.jackbox-talks .photo.photo-72198-thumb .choice-button {
    background-image: url(slides/72198.jpg)
}

.jackbox-talks .Slideshow .photo-72199-thumb,
.jackbox-talks .Draw.photo-72199-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72199-thumb,
.jackbox-talks .photo.photo-72199-thumb .choice-button {
    background-image: url(slides/72199.jpg)
}

.jackbox-talks .Slideshow .photo-72200-thumb,
.jackbox-talks .Draw.photo-72200-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72200-thumb,
.jackbox-talks .photo.photo-72200-thumb .choice-button {
    background-image: url(slides/72200.jpg)
}

.jackbox-talks .Slideshow .photo-72201-thumb,
.jackbox-talks .Draw.photo-72201-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72201-thumb,
.jackbox-talks .photo.photo-72201-thumb .choice-button {
    background-image: url(slides/72201.jpg)
}

.jackbox-talks .Slideshow .photo-72202-thumb,
.jackbox-talks .Draw.photo-72202-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72202-thumb,
.jackbox-talks .photo.photo-72202-thumb .choice-button {
    background-image: url(slides/72202.jpg)
}

.jackbox-talks .Slideshow .photo-72203-thumb,
.jackbox-talks .Draw.photo-72203-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72203-thumb,
.jackbox-talks .photo.photo-72203-thumb .choice-button {
    background-image: url(slides/72203.jpg)
}

.jackbox-talks .Slideshow .photo-72204-thumb,
.jackbox-talks .Draw.photo-72204-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72204-thumb,
.jackbox-talks .photo.photo-72204-thumb .choice-button {
    background-image: url(slides/72204.jpg)
}

.jackbox-talks .Slideshow .photo-72205-thumb,
.jackbox-talks .Draw.photo-72205-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72205-thumb,
.jackbox-talks .photo.photo-72205-thumb .choice-button {
    background-image: url(slides/72205.jpg)
}

.jackbox-talks .Slideshow .photo-72206-thumb,
.jackbox-talks .Draw.photo-72206-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72206-thumb,
.jackbox-talks .photo.photo-72206-thumb .choice-button {
    background-image: url(slides/72206.jpg)
}

.jackbox-talks .Slideshow .photo-72207-thumb,
.jackbox-talks .Draw.photo-72207-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72207-thumb,
.jackbox-talks .photo.photo-72207-thumb .choice-button {
    background-image: url(slides/72207.jpg)
}

.jackbox-talks .Slideshow .photo-72208-thumb,
.jackbox-talks .Draw.photo-72208-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72208-thumb,
.jackbox-talks .photo.photo-72208-thumb .choice-button {
    background-image: url(slides/72208.jpg)
}

.jackbox-talks .Slideshow .photo-72209-thumb,
.jackbox-talks .Draw.photo-72209-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72209-thumb,
.jackbox-talks .photo.photo-72209-thumb .choice-button {
    background-image: url(slides/72209.jpg)
}

.jackbox-talks .Slideshow .photo-72210-thumb,
.jackbox-talks .Draw.photo-72210-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72210-thumb,
.jackbox-talks .photo.photo-72210-thumb .choice-button {
    background-image: url(slides/72210.jpg)
}

.jackbox-talks .Slideshow .photo-72211-thumb,
.jackbox-talks .Draw.photo-72211-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72211-thumb,
.jackbox-talks .photo.photo-72211-thumb .choice-button {
    background-image: url(slides/72211.jpg)
}

.jackbox-talks .Slideshow .photo-72212-thumb,
.jackbox-talks .Draw.photo-72212-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72212-thumb,
.jackbox-talks .photo.photo-72212-thumb .choice-button {
    background-image: url(slides/72212.jpg)
}

.jackbox-talks .Slideshow .photo-72213-thumb,
.jackbox-talks .Draw.photo-72213-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72213-thumb,
.jackbox-talks .photo.photo-72213-thumb .choice-button {
    background-image: url(slides/72213.jpg)
}

.jackbox-talks .Slideshow .photo-72214-thumb,
.jackbox-talks .Draw.photo-72214-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72214-thumb,
.jackbox-talks .photo.photo-72214-thumb .choice-button {
    background-image: url(slides/72214.jpg)
}

.jackbox-talks .Slideshow .photo-72215-thumb,
.jackbox-talks .Draw.photo-72215-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72215-thumb,
.jackbox-talks .photo.photo-72215-thumb .choice-button {
    background-image: url(slides/72215.jpg)
}

.jackbox-talks .Slideshow .photo-72216-thumb,
.jackbox-talks .Draw.photo-72216-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72216-thumb,
.jackbox-talks .photo.photo-72216-thumb .choice-button {
    background-image: url(slides/72216.jpg)
}

.jackbox-talks .Slideshow .photo-72217-thumb,
.jackbox-talks .Draw.photo-72217-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72217-thumb,
.jackbox-talks .photo.photo-72217-thumb .choice-button {
    background-image: url(slides/72217.jpg)
}

.jackbox-talks .Slideshow .photo-72218-thumb,
.jackbox-talks .Draw.photo-72218-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72218-thumb,
.jackbox-talks .photo.photo-72218-thumb .choice-button {
    background-image: url(slides/72218.jpg)
}

.jackbox-talks .Slideshow .photo-72219-thumb,
.jackbox-talks .Draw.photo-72219-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72219-thumb,
.jackbox-talks .photo.photo-72219-thumb .choice-button {
    background-image: url(slides/72219.jpg)
}

.jackbox-talks .Slideshow .photo-72220-thumb,
.jackbox-talks .Draw.photo-72220-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72220-thumb,
.jackbox-talks .photo.photo-72220-thumb .choice-button {
    background-image: url(slides/72220.jpg)
}

.jackbox-talks .Slideshow .photo-72221-thumb,
.jackbox-talks .Draw.photo-72221-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72221-thumb,
.jackbox-talks .photo.photo-72221-thumb .choice-button {
    background-image: url(slides/72221.jpg)
}

.jackbox-talks .Slideshow .photo-72222-thumb,
.jackbox-talks .Draw.photo-72222-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72222-thumb,
.jackbox-talks .photo.photo-72222-thumb .choice-button {
    background-image: url(slides/72222.jpg)
}

.jackbox-talks .Slideshow .photo-72223-thumb,
.jackbox-talks .Draw.photo-72223-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72223-thumb,
.jackbox-talks .photo.photo-72223-thumb .choice-button {
    background-image: url(slides/72223.jpg)
}

.jackbox-talks .Slideshow .photo-72224-thumb,
.jackbox-talks .Draw.photo-72224-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72224-thumb,
.jackbox-talks .photo.photo-72224-thumb .choice-button {
    background-image: url(slides/72224.jpg)
}

.jackbox-talks .Slideshow .photo-72225-thumb,
.jackbox-talks .Draw.photo-72225-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72225-thumb,
.jackbox-talks .photo.photo-72225-thumb .choice-button {
    background-image: url(slides/72225.jpg)
}

.jackbox-talks .Slideshow .photo-72226-thumb,
.jackbox-talks .Draw.photo-72226-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72226-thumb,
.jackbox-talks .photo.photo-72226-thumb .choice-button {
    background-image: url(slides/72226.jpg)
}

.jackbox-talks .Slideshow .photo-72227-thumb,
.jackbox-talks .Draw.photo-72227-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72227-thumb,
.jackbox-talks .photo.photo-72227-thumb .choice-button {
    background-image: url(slides/72227.jpg)
}

.jackbox-talks .Slideshow .photo-72228-thumb,
.jackbox-talks .Draw.photo-72228-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72228-thumb,
.jackbox-talks .photo.photo-72228-thumb .choice-button {
    background-image: url(slides/72228.jpg)
}

.jackbox-talks .Slideshow .photo-72229-thumb,
.jackbox-talks .Draw.photo-72229-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72229-thumb,
.jackbox-talks .photo.photo-72229-thumb .choice-button {
    background-image: url(slides/72229.jpg)
}

.jackbox-talks .Slideshow .photo-72230-thumb,
.jackbox-talks .Draw.photo-72230-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72230-thumb,
.jackbox-talks .photo.photo-72230-thumb .choice-button {
    background-image: url(slides/72230.jpg)
}

.jackbox-talks .Slideshow .photo-72231-thumb,
.jackbox-talks .Draw.photo-72231-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72231-thumb,
.jackbox-talks .photo.photo-72231-thumb .choice-button {
    background-image: url(slides/72231.jpg)
}

.jackbox-talks .Slideshow .photo-72232-thumb,
.jackbox-talks .Draw.photo-72232-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72232-thumb,
.jackbox-talks .photo.photo-72232-thumb .choice-button {
    background-image: url(slides/72232.jpg)
}

.jackbox-talks .Slideshow .photo-72233-thumb,
.jackbox-talks .Draw.photo-72233-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72233-thumb,
.jackbox-talks .photo.photo-72233-thumb .choice-button {
    background-image: url(slides/72233.jpg)
}

.jackbox-talks .Slideshow .photo-72234-thumb,
.jackbox-talks .Draw.photo-72234-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72234-thumb,
.jackbox-talks .photo.photo-72234-thumb .choice-button {
    background-image: url(slides/72234.jpg)
}

.jackbox-talks .Slideshow .photo-72235-thumb,
.jackbox-talks .Draw.photo-72235-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72235-thumb,
.jackbox-talks .photo.photo-72235-thumb .choice-button {
    background-image: url(slides/72235.jpg)
}

.jackbox-talks .Slideshow .photo-72236-thumb,
.jackbox-talks .Draw.photo-72236-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72236-thumb,
.jackbox-talks .photo.photo-72236-thumb .choice-button {
    background-image: url(slides/72236.jpg)
}

.jackbox-talks .Slideshow .photo-72237-thumb,
.jackbox-talks .Draw.photo-72237-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72237-thumb,
.jackbox-talks .photo.photo-72237-thumb .choice-button {
    background-image: url(slides/72237.jpg)
}

.jackbox-talks .Slideshow .photo-72238-thumb,
.jackbox-talks .Draw.photo-72238-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72238-thumb,
.jackbox-talks .photo.photo-72238-thumb .choice-button {
    background-image: url(slides/72238.jpg)
}

.jackbox-talks .Slideshow .photo-72239-thumb,
.jackbox-talks .Draw.photo-72239-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72239-thumb,
.jackbox-talks .photo.photo-72239-thumb .choice-button {
    background-image: url(slides/72239.jpg)
}

.jackbox-talks .Slideshow .photo-72240-thumb,
.jackbox-talks .Draw.photo-72240-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72240-thumb,
.jackbox-talks .photo.photo-72240-thumb .choice-button {
    background-image: url(slides/72240.jpg)
}

.jackbox-talks .Slideshow .photo-72241-thumb,
.jackbox-talks .Draw.photo-72241-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72241-thumb,
.jackbox-talks .photo.photo-72241-thumb .choice-button {
    background-image: url(slides/72241.jpg)
}

.jackbox-talks .Slideshow .photo-72242-thumb,
.jackbox-talks .Draw.photo-72242-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72242-thumb,
.jackbox-talks .photo.photo-72242-thumb .choice-button {
    background-image: url(slides/72242.jpg)
}

.jackbox-talks .Slideshow .photo-72243-thumb,
.jackbox-talks .Draw.photo-72243-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72243-thumb,
.jackbox-talks .photo.photo-72243-thumb .choice-button {
    background-image: url(slides/72243.jpg)
}

.jackbox-talks .Slideshow .photo-72244-thumb,
.jackbox-talks .Draw.photo-72244-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72244-thumb,
.jackbox-talks .photo.photo-72244-thumb .choice-button {
    background-image: url(slides/72244.jpg)
}

.jackbox-talks .Slideshow .photo-72245-thumb,
.jackbox-talks .Draw.photo-72245-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72245-thumb,
.jackbox-talks .photo.photo-72245-thumb .choice-button {
    background-image: url(slides/72245.jpg)
}

.jackbox-talks .Slideshow .photo-72246-thumb,
.jackbox-talks .Draw.photo-72246-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72246-thumb,
.jackbox-talks .photo.photo-72246-thumb .choice-button {
    background-image: url(slides/72246.jpg)
}

.jackbox-talks .Slideshow .photo-72247-thumb,
.jackbox-talks .Draw.photo-72247-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72247-thumb,
.jackbox-talks .photo.photo-72247-thumb .choice-button {
    background-image: url(slides/72247.jpg)
}

.jackbox-talks .Slideshow .photo-72248-thumb,
.jackbox-talks .Draw.photo-72248-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72248-thumb,
.jackbox-talks .photo.photo-72248-thumb .choice-button {
    background-image: url(slides/72248.jpg)
}

.jackbox-talks .Slideshow .photo-72249-thumb,
.jackbox-talks .Draw.photo-72249-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72249-thumb,
.jackbox-talks .photo.photo-72249-thumb .choice-button {
    background-image: url(slides/72249.jpg)
}

.jackbox-talks .Slideshow .photo-72250-thumb,
.jackbox-talks .Draw.photo-72250-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72250-thumb,
.jackbox-talks .photo.photo-72250-thumb .choice-button {
    background-image: url(slides/72250.jpg)
}

.jackbox-talks .Slideshow .photo-72251-thumb,
.jackbox-talks .Draw.photo-72251-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72251-thumb,
.jackbox-talks .photo.photo-72251-thumb .choice-button {
    background-image: url(slides/72251.jpg)
}

.jackbox-talks .Slideshow .photo-72252-thumb,
.jackbox-talks .Draw.photo-72252-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72252-thumb,
.jackbox-talks .photo.photo-72252-thumb .choice-button {
    background-image: url(slides/72252.jpg)
}

.jackbox-talks .Slideshow .photo-72253-thumb,
.jackbox-talks .Draw.photo-72253-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72253-thumb,
.jackbox-talks .photo.photo-72253-thumb .choice-button {
    background-image: url(slides/72253.jpg)
}

.jackbox-talks .Slideshow .photo-72254-thumb,
.jackbox-talks .Draw.photo-72254-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72254-thumb,
.jackbox-talks .photo.photo-72254-thumb .choice-button {
    background-image: url(slides/72254.jpg)
}

.jackbox-talks .Slideshow .photo-72255-thumb,
.jackbox-talks .Draw.photo-72255-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72255-thumb,
.jackbox-talks .photo.photo-72255-thumb .choice-button {
    background-image: url(slides/72255.jpg)
}

.jackbox-talks .Slideshow .photo-72256-thumb,
.jackbox-talks .Draw.photo-72256-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72256-thumb,
.jackbox-talks .photo.photo-72256-thumb .choice-button {
    background-image: url(slides/72256.jpg)
}

.jackbox-talks .Slideshow .photo-72257-thumb,
.jackbox-talks .Draw.photo-72257-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72257-thumb,
.jackbox-talks .photo.photo-72257-thumb .choice-button {
    background-image: url(slides/72257.jpg)
}

.jackbox-talks .Slideshow .photo-72258-thumb,
.jackbox-talks .Draw.photo-72258-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72258-thumb,
.jackbox-talks .photo.photo-72258-thumb .choice-button {
    background-image: url(slides/72258.jpg)
}

.jackbox-talks .Slideshow .photo-72259-thumb,
.jackbox-talks .Draw.photo-72259-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72259-thumb,
.jackbox-talks .photo.photo-72259-thumb .choice-button {
    background-image: url(slides/72259.jpg)
}

.jackbox-talks .Slideshow .photo-72260-thumb,
.jackbox-talks .Draw.photo-72260-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72260-thumb,
.jackbox-talks .photo.photo-72260-thumb .choice-button {
    background-image: url(slides/72260.jpg)
}

.jackbox-talks .Slideshow .photo-72261-thumb,
.jackbox-talks .Draw.photo-72261-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72261-thumb,
.jackbox-talks .photo.photo-72261-thumb .choice-button {
    background-image: url(slides/72261.jpg)
}

.jackbox-talks .Slideshow .photo-72262-thumb,
.jackbox-talks .Draw.photo-72262-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72262-thumb,
.jackbox-talks .photo.photo-72262-thumb .choice-button {
    background-image: url(slides/72262.jpg)
}

.jackbox-talks .Slideshow .photo-72263-thumb,
.jackbox-talks .Draw.photo-72263-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72263-thumb,
.jackbox-talks .photo.photo-72263-thumb .choice-button {
    background-image: url(slides/72263.jpg)
}

.jackbox-talks .Slideshow .photo-72264-thumb,
.jackbox-talks .Draw.photo-72264-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72264-thumb,
.jackbox-talks .photo.photo-72264-thumb .choice-button {
    background-image: url(slides/72264.jpg)
}

.jackbox-talks .Slideshow .photo-72265-thumb,
.jackbox-talks .Draw.photo-72265-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72265-thumb,
.jackbox-talks .photo.photo-72265-thumb .choice-button {
    background-image: url(slides/72265.jpg)
}

.jackbox-talks .Slideshow .photo-72266-thumb,
.jackbox-talks .Draw.photo-72266-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72266-thumb,
.jackbox-talks .photo.photo-72266-thumb .choice-button {
    background-image: url(slides/72266.jpg)
}

.jackbox-talks .Slideshow .photo-72267-thumb,
.jackbox-talks .Draw.photo-72267-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72267-thumb,
.jackbox-talks .photo.photo-72267-thumb .choice-button {
    background-image: url(slides/72267.jpg)
}

.jackbox-talks .Slideshow .photo-72268-thumb,
.jackbox-talks .Draw.photo-72268-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72268-thumb,
.jackbox-talks .photo.photo-72268-thumb .choice-button {
    background-image: url(slides/72268.jpg)
}

.jackbox-talks .Slideshow .photo-72269-thumb,
.jackbox-talks .Draw.photo-72269-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72269-thumb,
.jackbox-talks .photo.photo-72269-thumb .choice-button {
    background-image: url(slides/72269.jpg)
}

.jackbox-talks .Slideshow .photo-72270-thumb,
.jackbox-talks .Draw.photo-72270-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72270-thumb,
.jackbox-talks .photo.photo-72270-thumb .choice-button {
    background-image: url(slides/72270.jpg)
}

.jackbox-talks .Slideshow .photo-72271-thumb,
.jackbox-talks .Draw.photo-72271-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72271-thumb,
.jackbox-talks .photo.photo-72271-thumb .choice-button {
    background-image: url(slides/72271.jpg)
}

.jackbox-talks .Slideshow .photo-72272-thumb,
.jackbox-talks .Draw.photo-72272-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72272-thumb,
.jackbox-talks .photo.photo-72272-thumb .choice-button {
    background-image: url(slides/72272.jpg)
}

.jackbox-talks .Slideshow .photo-72273-thumb,
.jackbox-talks .Draw.photo-72273-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72273-thumb,
.jackbox-talks .photo.photo-72273-thumb .choice-button {
    background-image: url(slides/72273.jpg)
}

.jackbox-talks .Slideshow .photo-72274-thumb,
.jackbox-talks .Draw.photo-72274-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72274-thumb,
.jackbox-talks .photo.photo-72274-thumb .choice-button {
    background-image: url(slides/72274.jpg)
}

.jackbox-talks .Slideshow .photo-72275-thumb,
.jackbox-talks .Draw.photo-72275-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72275-thumb,
.jackbox-talks .photo.photo-72275-thumb .choice-button {
    background-image: url(slides/72275.jpg)
}

.jackbox-talks .Slideshow .photo-72276-thumb,
.jackbox-talks .Draw.photo-72276-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72276-thumb,
.jackbox-talks .photo.photo-72276-thumb .choice-button {
    background-image: url(slides/72276.jpg)
}

.jackbox-talks .Slideshow .photo-72277-thumb,
.jackbox-talks .Draw.photo-72277-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72277-thumb,
.jackbox-talks .photo.photo-72277-thumb .choice-button {
    background-image: url(slides/72277.jpg)
}

.jackbox-talks .Slideshow .photo-72278-thumb,
.jackbox-talks .Draw.photo-72278-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72278-thumb,
.jackbox-talks .photo.photo-72278-thumb .choice-button {
    background-image: url(slides/72278.jpg)
}

.jackbox-talks .Slideshow .photo-72279-thumb,
.jackbox-talks .Draw.photo-72279-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72279-thumb,
.jackbox-talks .photo.photo-72279-thumb .choice-button {
    background-image: url(slides/72279.jpg)
}

.jackbox-talks .Slideshow .photo-72280-thumb,
.jackbox-talks .Draw.photo-72280-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72280-thumb,
.jackbox-talks .photo.photo-72280-thumb .choice-button {
    background-image: url(slides/72280.jpg)
}

.jackbox-talks .Slideshow .photo-72281-thumb,
.jackbox-talks .Draw.photo-72281-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72281-thumb,
.jackbox-talks .photo.photo-72281-thumb .choice-button {
    background-image: url(slides/72281.jpg)
}

.jackbox-talks .Slideshow .photo-72282-thumb,
.jackbox-talks .Draw.photo-72282-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72282-thumb,
.jackbox-talks .photo.photo-72282-thumb .choice-button {
    background-image: url(slides/72282.jpg)
}

.jackbox-talks .Slideshow .photo-72283-thumb,
.jackbox-talks .Draw.photo-72283-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72283-thumb,
.jackbox-talks .photo.photo-72283-thumb .choice-button {
    background-image: url(slides/72283.jpg)
}

.jackbox-talks .Slideshow .photo-72284-thumb,
.jackbox-talks .Draw.photo-72284-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72284-thumb,
.jackbox-talks .photo.photo-72284-thumb .choice-button {
    background-image: url(slides/72284.jpg)
}

.jackbox-talks .Slideshow .photo-72285-thumb,
.jackbox-talks .Draw.photo-72285-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72285-thumb,
.jackbox-talks .photo.photo-72285-thumb .choice-button {
    background-image: url(slides/72285.jpg)
}

.jackbox-talks .Slideshow .photo-72286-thumb,
.jackbox-talks .Draw.photo-72286-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72286-thumb,
.jackbox-talks .photo.photo-72286-thumb .choice-button {
    background-image: url(slides/72286.jpg)
}

.jackbox-talks .Slideshow .photo-72287-thumb,
.jackbox-talks .Draw.photo-72287-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72287-thumb,
.jackbox-talks .photo.photo-72287-thumb .choice-button {
    background-image: url(slides/72287.jpg)
}

.jackbox-talks .Slideshow .photo-72288-thumb,
.jackbox-talks .Draw.photo-72288-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72288-thumb,
.jackbox-talks .photo.photo-72288-thumb .choice-button {
    background-image: url(slides/72288.jpg)
}

.jackbox-talks .Slideshow .photo-72289-thumb,
.jackbox-talks .Draw.photo-72289-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72289-thumb,
.jackbox-talks .photo.photo-72289-thumb .choice-button {
    background-image: url(slides/72289.jpg)
}

.jackbox-talks .Slideshow .photo-72290-thumb,
.jackbox-talks .Draw.photo-72290-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72290-thumb,
.jackbox-talks .photo.photo-72290-thumb .choice-button {
    background-image: url(slides/72290.jpg)
}

.jackbox-talks .Slideshow .photo-72291-thumb,
.jackbox-talks .Draw.photo-72291-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72291-thumb,
.jackbox-talks .photo.photo-72291-thumb .choice-button {
    background-image: url(slides/72291.jpg)
}

.jackbox-talks .Slideshow .photo-72292-thumb,
.jackbox-talks .Draw.photo-72292-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72292-thumb,
.jackbox-talks .photo.photo-72292-thumb .choice-button {
    background-image: url(slides/72292.jpg)
}

.jackbox-talks .Slideshow .photo-72293-thumb,
.jackbox-talks .Draw.photo-72293-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72293-thumb,
.jackbox-talks .photo.photo-72293-thumb .choice-button {
    background-image: url(slides/72293.jpg)
}

.jackbox-talks .Slideshow .photo-72294-thumb,
.jackbox-talks .Draw.photo-72294-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72294-thumb,
.jackbox-talks .photo.photo-72294-thumb .choice-button {
    background-image: url(slides/72294.jpg)
}

.jackbox-talks .Slideshow .photo-72295-thumb,
.jackbox-talks .Draw.photo-72295-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72295-thumb,
.jackbox-talks .photo.photo-72295-thumb .choice-button {
    background-image: url(slides/72295.jpg)
}

.jackbox-talks .Slideshow .photo-72296-thumb,
.jackbox-talks .Draw.photo-72296-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72296-thumb,
.jackbox-talks .photo.photo-72296-thumb .choice-button {
    background-image: url(slides/72296.jpg)
}

.jackbox-talks .Slideshow .photo-72297-thumb,
.jackbox-talks .Draw.photo-72297-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72297-thumb,
.jackbox-talks .photo.photo-72297-thumb .choice-button {
    background-image: url(slides/72297.jpg)
}

.jackbox-talks .Slideshow .photo-72298-thumb,
.jackbox-talks .Draw.photo-72298-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72298-thumb,
.jackbox-talks .photo.photo-72298-thumb .choice-button {
    background-image: url(slides/72298.jpg)
}

.jackbox-talks .Slideshow .photo-72299-thumb,
.jackbox-talks .Draw.photo-72299-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-72299-thumb,
.jackbox-talks .photo.photo-72299-thumb .choice-button {
    background-image: url(slides/72299.jpg)
}
